.skills {
    height: 100vh;
    background: url(../images/content/Фон3.jpg) center / cover no-repeat;    
    
    justify-content: center;    
    position: relative;
    background-blend-mode: multiply;
}
.hands-pic {
    position: absolute;
    top: 128px;
}