include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    styles 
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.main
          div.container
            header.header
              a.logo(href='index.html') ГИ
              ul.navigation__list
                li.navigation__item
                  a.navigation__link(href='') Главная
                li.navigation__item
                  a.navigation__link(href='') Обо мне
                li.navigation__item
                  a.navigation__link(href='') Навыки
                li.navigation__item
                  a.navigation__link(href='') Работы
                li.navigation__item
                  a.navigation__link(href='') Отзывы
                li.navigation__item
                  a.navigation__link(href='') Связаться
              ul.social-contacts
                li.social__item        
                  +icon('insta', 'social__link')      
                li.social__item
                  +icon('vk', 'social__link')
                li.social__item
                  +icon('github', 'social__link')
            div.main-desc
              div.desc-cont
                p.desc-text
                  | Личный сайт
                  br
                  | веб-разработчика
                h1.myname
                  | Георгий
                  br
                  | Исаев
            div.scroll
              | Скролл
              +icon('scroll', 'scroll-icon')
        section.about-me
          div.container
            div.about-me__desc
              div.about-me__inner
               div.about-me__left
                 +image('content/мое фото.jpg', 'user-pic')
                 div.desc-list
                   ul.questions
                    li.questions__item
                      | Проживаю:
                    li.questions__item
                      | Возраст:
                    li.questions__item
                      | Родился:
                   ul.answers
                     li.answer__item
                       | Москва
                     li.answer__item
                       | 31 год
                     li.answer__item
                       | 19 августа 1988
               div.about-me__right
                 h2 Привет, меня зовут
                 h1 Георгий Исаев
                 p.text Я занимаюсь разработкой современных сайтов и приложений.
                   br
                   | Мне нравится делать интересные и современные проекты.
                 p.text__comment Этот сайт я сделал в рамках обучения в Школе онлайн образования
                   br
                   | LoftSchool. Чуть позже я освежу в нём свой контент. А пока
                   br
                   | посмотрите, как тут всё классно и красиво!


        section.skills
          div.hands
            +image('content/Руки.png', 'hands-pic')
          div.container.skills__container
            h1 Чем я могу быть полезен вам
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования
               br
               | LoftSchool. Чуть позже я освежу в нём свой контент. А пока
               br
               | посмотрите, как тут всё классно и красиво!
          ul.user__skills
            -
              var skills = [
                ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
              ]
            each item in skills
              li.user-skills__item.skills-row
                h3.skills-row__title #{item[0]}
                ul.skills-row__list

                  each skill in item[1]
                    li.skills-row__item
                      .skill
                        +chart('pie-chart', '50')
                        .skill__title #{skill}
        section.my-works
          .container.my-works__container
            h1.my-works__title Мои работы
            .my-works__leftright
              .works__left
                .slider
                  +image('content/2052.png', 'slider__fillpic')                
                  .slider__preview
                    ul.previews
                      li.previews__item
                        +image('content/2052.png', 'previews__pic')
                      li.previews__item
                        +image('content/2056.png', 'previews__pic')
                      li.previews__item
                        +image('content/2054.png', 'previews__pic')
                      li.previews__item
                        +image('content/2052.png', 'previews__pic')
                  .slider__buttons
                    .slider-button
                      button.slider-buttons__item.slider-buttons__item--prev
                        +icon('arrow-down', 'prev-icon')
                      button.slider-buttons__item.slider-buttons__item--next
                        +icon('arrow-down', 'next-icon')
              .works__number 2 
              .works__right
                ul.works__tags
                  - var tags = ['HTML', 'CSS', 'Javascript']
                  each tag in tags
                    li.tag #{tag}
                      
                .works__text
                  h1.works__title Сайт школы образования
                  .works__desc-text
                    p.works__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                  a.iconed-link
                    +icon('link', 'iconed-link__icon')
                    .iconed-link__text Посмотреть сайт

        section.feedback
          section.reviews
          section.form
            .input
              input(type="text").input__elem
               
        footer.footer
        
        