.aboutme{
    height: 970px;
    .admin-container {
        align-items: inherit;
        height: inherit;
    }
}

.aboutme-groups__list {
    
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
    grid-gap: 32px 31px;
}
.aboutme-groups__item {
    
    box-shadow: inset -5px -5px 5px rgba(#000000, .06);
    background: #fff;
    display: flex;
    flex-direction: column;
}